/* override the default bright red color */
div.floating-label.desktop.ng-star-inserted,
div.floating-label.lt-desktop.ng-star-inserted {
	background-color: #cac7a7;
}

div.order-summary-card.ng-star-inserted{
position: absolute;
bottom: 7.3rem;
width: 30px !important;
} 
div{
	background-color:red;
}

/* .mat-focus-indicator.action-button.mat-raised-button.mat-button-base.mat-primary.ng-tns-c223-28.ng-star-inserted {
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
} */
