/* override the default bright red color */
div.floating-label.desktop.ng-star-inserted,
div.floating-label.lt-desktop.ng-star-inserted {
	background-color: #CAC7A7;
}
.tickets-content {
 display: flex;
 flex-direction: column-reverse;
}

.mat-focus-indicator.action-button.mat-raised-button.mat-button-base.mat-primary.ng-tns-c223-28.ng-star-inserted {
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}

.mat-focus-indicator.add-self-button.mat-stroked-button.mat-button-base.ng-star-inserted {
	display: none;
}
