.material-icons {
display: none !important;
}

.mat-focus-indicator.back-button.mat-icon-button.mat-button-base {
display: none !important;
}

.event__dateTime.ng-star-inserted {
display: none;
}

.event-price.ng-star-inserted {
display: none;
}
